<app-title [title]="'REGISTRO'"></app-title>

<div class="row mt-3">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <form (submit)="onSubmitAddUser()">
          <h1 class="text-center">REGISTRO</h1>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="password"
              class="form-control"
            />
          </div>
          <input
            type="submit"
            value=" Registrar"
            class="btn btn-primary btn-block btn-lg"
          />
        </form>
      </div>
    </div>
  </div>
</div>
