<nav class="navbar navbar-expand-lg navbar-dark special-color">
  <a class="navbar-brand " [routerLink]="['/home']"
    >Examen<span class="text-danger"><strong>APP</strong></span></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto" *ngIf="isLogin">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/tipocambio']"
          routerLinkActive="text-success"
          >Tipo Cambio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/conversor']"
          routerLinkActive="text-success"
          >Conversor <mdb-icon fas icon="hand-holding-usd"></mdb-icon> <span class="sr-only">(current)</span></a
        >
      </li>
     
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link">{{ nameUser }}</a>
      </li>
      <li class="nav-item" *ngIf="isLogin" info="true">
        <div class="chip">
          <img *ngIf="fotoUser" src="{{ fotoUser }}" alt="Contact Person" />
          {{ emailUser }}
        </div>
      </li>
      <li class="nav-item">
        <div class="chip" *ngIf="isLogin" (click)="onClickLogaut()">
          Salir
        </div>
      </li>
    </ul>
  </div>
</nav>
