<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Tipos de Cambio
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center">Moneda Origen</th>
          <th class="text-center">Moneda Destino</th>
          <th class="text-center">Tipo Cambio <mdb-icon fas icon="pen"></mdb-icon> </th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let tc of tcList; let id = index">
          <td>
            <span
              >{{ tc.moneda_origen }}</span
            >
          </td>
          <td>
            <span
              >{{ tc.moneda_destino }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(tc.moneda_origen, tc.moneda_destino, $event)"
              (blur)="updateList(tc.moneda_origen, tc.moneda_destino, $event)"
              >{{ tc.tipo_cambio }}</span
            >
          </td>
          <td>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="remove(id)"
              >
                Remove
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
