<p>conversor works!</p>

<div class="row">
  <div class="md-form input-group mb-3 col-md-4">
    <mdb-select
      [options]="optionsSelect"
      placeholder="Moneda Origen"
      (selected)="optionSelectedOrigen($event)"
      [(ngModel)]="origen"
    ></mdb-select>
  </div>

  <div class="md-form input-group mb-3 col-md-4">
    <mdb-select
      [options]="optionsSelect"
      placeholder="Moneda Destino"
      (selected)="optionSelectedDestino($event)"
      [(ngModel)]="destino"
    ></mdb-select>
  </div>

  <div class="md-form input-group mb-3 col-md-4">
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese monto"
      aria-label="Ingrese monto"
      aria-describedby="button-addon2"
      [(ngModel)]="monto"
    />
    <div class="input-group-append">
      <button
        mdbBtn
        color="default"
        size="md"
        class="m-0 px-3 py-2"
        type="button"
        id="button-addon2"
        mdbWavesEffect
        (click)="onCambiar()"
      >
        Calcular
      </button>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-12 col-md-6 col-xl-4 mx-auto">
    <!-- Card -->
    <mdb-card>
      
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Resultado de la conversión</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          <h5><strong>Moneda Origen:</strong><span class="pl-2">{{etiqueta_origen}}</span></h5>
          <h5><strong>Moneda Destino:</strong><span class="pl-2">{{etiqueta_destino}}</span></h5>
          <h5><strong>Importe Original:</strong><span class="pl-2">{{monto}}</span></h5>
          <h5><strong>Importe Calculado:</strong><span class="pl-2">{{monto_calculado}}</span></h5>
        </mdb-card-text>

      </mdb-card-body>

      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img
          src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
          alt="Card image cap"
        ></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

    </mdb-card>
    <!-- Card -->
  </div>
</div>
