<hr />
<div class="row">
  <div class="col-12 col-md-6 col-xl-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <form (submit)="onSubmitLogin()">
          <h1 class="text-center">LOGIN</h1>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              [(ngModel)]="password"
              class="form-control"
            />
          </div>
          <input
            type="submit"
            value="Iniciar Session"
            class="btn btn-primary btn-block btn-lg"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="mdb-card-header text-center">
        <span><strong>Inicie sessión con Google</strong></span>
      </div>
      <div class="card-body d-flex justify-content-around">
        <button
          type="button"
          mdbBtn
          color="gplus"
          class="waves-light"
          mdbWavesEffect
          (click)="onSubmitGoogleLogin()"
        >
          <i class="fab fa-google-plus left"></i>Google +
        </button>

      </div>
    </div>
  </div>
</div>
